.body {
    display: flex;
    flex-direction: column;
}

html, body {
    margin: 0;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    padding-left: 300px;
    padding-right: 300px;
}
.header-links {
    display: flex;
}
.header-links ul {
    display: flex;
    gap: 10px;
    list-style-type: none;

}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.hero {
    display: flex;
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: space-between;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-right img {
    border-radius: 8px;
}

.main-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0px;
}

.main-title h1 {
    margin: 0px;
}
.hero-text {
    color: #f9faf8;
}

.hero-button button {
    background-color: #3882f6;
    color: whitesmoke;
    border-radius: 4px;
    border: none;
}

.top-white {
    display: flex;
    flex-direction: column;
    padding-left: 500px;
    padding-right: 500px;
}
.head-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grey {
    background-color: #e5e7eb;
    padding-left: 500px;
    padding-right: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom {
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: center;
    align-items: center;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}